body {
    font-family: Athiti;
    background-color: dimgrey;
}

.docBio {
    margin: auto 0;
    background-color: white;
    padding: 50px;
    width: 70%;
    align: center;
}

img {
    float: left;
    border: 5px solid dimgrey;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: dimgrey;
}

a:hover {
    color: salmon;
}

#contact {
    
}